%table{:class => "table table-condense"}
  %thead
    %tr
      %th 
  %tbody
    - qa.each do |q|
      - category = q.category
      %tr
        %td= link_to q.question, category_question_answer_path(category, q)
