= form_for @page, :url => page_path(@page), :html => { :class => "edit_page", :id => "edit_page" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
