.container
  .row.show-grid
    .span4
      %h1.pull-left Pages
    .span4
    .offset4
.container
  - Page.find_parents.each do |p|
    .row.show-grid
      .span4
        .bumptop
          %span.label=link_to p.title, p
      .offset4
    - if p.has_children? 
      - p.children.each do |child|
        .row.show-grid
          .span2.bump
            .bumptop
              .icon-share-alt
              %span.label=link_to child.title, child
          .offset4
              
- if current_user.try(:is_admin?)
  .form-actions
    = link_to "Create new page", new_page_path, :class => 'btn btn-primary'
