@mixin link-headers { 
    a { 
        color: #FFFF99 !important; 
        &:hover { 
            color: #FFD700 !important;
        }
    }
}

@mixin link-body { 
    a { 
        color: #660000 !important; 
        &:hover { 
            color: #CC0000 !important;
        }
    }
}

body { 
    padding-top: 50px;
    background-color: #f1f1d4;
}


.brand { 
    font-weight: bold !important;
}



.navbar-inner { 
    background: rgb(169,3,41) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) !important; /* IE10+ */
    background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ) !important; /* IE6-9 */

    @include link-headers;
}


.smallerform { 
    height: 20px !important; 
    .input-medium { 
        margin-top: 5px !important; 
    }
}
.logout{
    margin-top: 10px;
}

li { 
    list-style: none;
}

.welcome_back { 
    padding-top: 10px; 
    color: #fff;
}

.bump {
    padding-left: 30px;
}

.bumptop { 
    margin-top: 3px; 
}
.label {
    a { 
        color: #FFFFFF !important; 
        &:hover { 
            color: #CC0000 !important;
        }
      }
}
