body { 
    padding-top: 50px;
}
.smallerform { 
    height: 20px !important; 
    .input-medium { 
        margin-top: 5px !important; 
    }
}
.logout{
    margin-top: 10px;
}
.welcome_back { 
    padding-top: 10px; 
    color: #fff;
}
