.clearfix
  = f.label :title, t("activerecord.attributes.category.title", :default => "Title"), :class => :label
  .input
    = f.text_field :title, :class => 'text_field'

.form-actions
  %button{:class => "btn btn-primary", :type => "submit"} Create Category
  = link_to "Cancel", categories_path, :class => "btn btn-danger"
